<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <title>Nutrino</title>
    <style>
      
.square {
      background-color:rgb(14, 34, 96);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      height: 500vh;
      justify-content: center;
      width: 1000px;
      height: 200px;
      
    }
  .bmi{
     
  }
    </style>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="dashboardstyle.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    
    <div class="logo-details">
      <!--<i class='bx bxl-c-plus-plus'></i>-->
      <span class="logo_name">Nutrition  Application</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="#" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
       <!-- <li>
          <a href="#">
            <i class='bx bx-box' ></i>
            <span class="links_name">Diet Chart</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">Find Calories</span>
          </a>
        </li>-->
        <li>
          <a href="food.html">
            <i class='bx bx-pie-chart-alt-2' ></i>
            <span class="links_name">Food Recommendation</span>
          </a>
        </li>
        <!--<li>
          <a href="#">
            <i class='bx bx-coin-stack' ></i>
            <span class="links_name">Daily Calories</span>
          </a>
        </li>-->
        <li>
          <a href="scan.html">
            <i class='bx bx-book-alt' ></i>
            <span class="links_name" >Scan Food</span>
          </a>
        </li>
        
        <li>
          <a href="#">
            <i class='bx bx-heart' ></i>
            <span class="links_name">Favourites</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-cog' ></i>
            <span class="links_name">Settings</span>
          </a>
        </li>
        <li class="log_out">
          <a href="thankyou.html">
            <i class='bx bx-log-out' ></i>
            <span class="links_name" >Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search' ></i>
      </div>
      <div class="profile-details">
        <!--<img src="images/profile.jpg" alt="">-->
        <a href="LoginRegister.html"<span class="admin_name">Login</span></a>
       <!-- <i class='bx bx-chevron-down' ></i>-->
      </div>
    </nav>
  
    <div class="square">
      <h1 >BMI CALCULATOR</h1>
      <p style="color: white">Height in meters:</p>
      <input class="height-input-field" type="text">
      <p style="color: white">weight in kilograms:</p>
      <input class="weight-input-field" type="text">
      <button class="calculate" style="color: black"> Calculate</button>
  </div>
  <h3 class="result"></h3>
  <p class="result-statement"></p>
  <script src="bmi.js"></script>

    

   
 <!-- <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>-->

</body>
</html>

