<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
    <link rel="stylesheet" href="dashboardstyle.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">Nutrition  Application</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="#" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-box' ></i>
            <span class="links_name">Diet Chart</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">Find Calories</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-pie-chart-alt-2' ></i>
            <span class="links_name">Food Recommendation</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-coin-stack' ></i>
            <span class="links_name">Daily Calories</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-book-alt' ></i>
            <span class="links_name">Scan Food</span>
          </a>
        </li>
        <!--<li>
          <a href="#">
            <i class='bx bx-user' ></i>
            <span class="links_name"></span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-message' ></i>
            <span class="links_name">Messages</span>
          </a>
        </li>-->
        <li>
          <a href="#">
            <i class='bx bx-heart' ></i>
            <span class="links_name">Favourites</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-cog' ></i>
            <span class="links_name">Settings</span>
          </a>
        </li>
        <li class="log_out">
          <a href="#">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search' ></i>
      </div>
      <div class="profile-details">
        <!--<img src="images/profile.jpg" alt="">-->
        <span class="admin_name">Login</span>
        <i class='bx bx-chevron-down' ></i>
      </div>
    </nav>

    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Caloriesperday</div>
            <div class="number">2500</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text"></span>
            </div>
          </div>
          <i class='bx bx-cart-alt cart'></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Your Calories</div>
            <div class="number">1900/2500</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text"></span>
            </div>
          </div>
          <i class='bx bxs-cart-add cart two' ></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">YourDietchart</div>
            <div class="number"></div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text"></span>
            </div>
          </div>
          <i class='bx bx-cart cart three' ></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">History</div>
            <div class="number"></div>
            <div class="indicator">
              <i class='bx bx-down-arrow-alt down'></i>
              <span class="text"></span>
            </div>
          </div>
          <i class='bx bxs-cart-download cart four' ></i>
        </div>
      </div>

      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Rich contents of Food</div>
          <div class="sales-details">
            <ul class="details">
              <li class="topic">Protein</li>
              <li><a href="#">Eggs</a></li>
              <li><a href="#">Chia seeds</a></li>
              <li><a href="#">Oats</a></li>
              <li><a href="#">Milk</a></li>
              <li><a href="#">Brocolli</a></li>
              <li><a href="#">Channa Dal</a></li>
              <li><a href="#">Pumpkin Seeds</a></li>
              <li><a href="#">Peanuts</a></li>
              <li><a href="#">Almonds</a></li>
            </ul>
            <ul class="details">
            <li class="topic">Carbohydrates</li>
            <li><a href="#">Sweet Potatoes</a></li>
            <li><a href="#">Bananas</a></li>
            <li><a href="#">Apple</a></li>
            <li><a href="#">Brown Rice</a></li>
            <li><a href="#">Corn</a></li>
            <li><a href="#">Beetroot</a></li>
            <li><a href="#">Peas</a></li>
            <li><a href="#">Berries</a></li>
             <li><a href="#">White Rice</a></li>
          </ul>
          <ul class="details">
            <li class="topic">Vitamins</li>
            <li><a href="#">Papaya</a></li>
            <li><a href="#">Tomatoes</a></li>
            <li><a href="#">Bell Peppers</a></li>
            <li><a href="#">Kiwi</a></li>
            <li><a href="#">Salmon</a></li>
            <li><a href="#">Mango</a></li>
            <li><a href="#">Fish</a></li>
             <li><a href="#">Strawberry</a></li>
            <li><a href="#">Cheese</a></li>
          </ul>
         <!-- <ul class="details">
            <li class="topic"> Good FatFat</li>
            <li><a href="#">Avacados</a></li>
            <li><a href="#">Cheese</a></li>
            <li><a href="#">Dark Choclate</a></li>
            <li><a href="#">Whole Egg</a></li>
            <li><a href="#">Fatty Fish</a></li>
            <li><a href="#">Nuts</a></li>
            <li><a href="#">Olive oil</a></li>
             <li><a href="#">Yogurt</a></li>
             <li><a href="#">Coconut</a></li>
          </ul>-->
          </div>
          <div class="button">
            <a href="#">See All</a>
          </div>
        </div>
        <div class="top-sales box">
          <div class="title">Calorie content</div>
          <ul class="top-sales-details">
            <li>
            <a href="#">
              <!--<img src="images/sunglasses.jpg" alt="">-->
              <span class="product">Apple</span>
            </a>
            <span class="price">81</span>
          </li>
          <li>
            <a href="#">
               <!--<img src="images/jeans.jpg" alt="">-->
              <span class="product">Apple Juice </span>
            </a>
            <span class="price">111</span>
          </li>
          <li>
            <a href="#">
             <!-- <img src="images/nike.jpg" alt="">-->
              <span class="product">Banana</span>
            </a>
            <span class="price">105</span>
          </li>
          <li>
            <a href="#">
              <!--<img src="images/scarves.jpg" alt="">-->
              <span class="product">Dates</span>
            </a>
            <span class="price">228</span>
          </li>
          <li>
            <a href="#">
              <!--<img src="images/blueBag.jpg" alt="">-->
              <span class="product">Grapes</span>
            </a>
            <span class="price">114</span>
          </li>
          <li>
            <a href="#">
              <!--<img src="images/bag.jpg" alt="">-->
              <span class="product">Raisins</span>
            </a>
            <span class="price">302</span>
          <li>
            <a href="#">
              <!--<img src="images/addidas.jpg" alt="">-->
              <span class="product">Rice</span>
            </a>
            <span class="price">354</span>
          </li>
<li>
            <a href="#">
             <!--<img src="images/shirt.jpg" alt="">-->
              <span class="product">Wheat Flour</span>
            </a>
            <span class="price">320</span>
          </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>

</body>
</html>

