<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet"  type= "text/css" href= "aboutstyle.css" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  </head>
  <body>
    
    <div class="services-section">
      <div class="inner-width">
        <h2 class="section-title">ABOUT US</h2>
        <div class="border"></div><br><br>
        <h2 class="section-title">NUTRITION ASSISTANT APPLICATION </h2><br><br>
        <div class="a">
        <p >Nutrition Assistant Application is a free, simple health concerning application. It is one of the best way to keep you healthy. No need to consult nutrionist about the diet and fitness.
        </div>
        <br>
        <br>
        <div class="b">
        <h1>KEY FEATURES</h1><br>
           <p>Track Calories</p><br>
           <p>Alert Feature</p><br>
           <p>Access Anytime</p><br>
           <p>Easy to use</p><br>
           <p>Diet Food Recommendations </p><br>
           <p>Easy accesibility</p>
        
        
        
        </div>
       <br><br><br>
        <h3 class="section-title">Other Features</h3>
        <div class="border"></div>
        <div class="services-container">

          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-paint-brush"></i>
            </div>
            <div class="service-title">Custom Features</div>
            <div class="service-desc">
             Many customized and user-friendly features are added for user's comfort
            </div>
          </div>

          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-code"></i>
            </div>
            <div class="service-title">Alert Feature</div>
            <div class="service-desc">
             Notifications can be sent through mail and sms
            </div>
          </div>

          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-brush"></i>
            </div>
            <div class="service-title">Responsive </div>
            <div class="service-desc">
              Responsiveness feature is also added for flexibility
            </div>
          </div>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-object-ungroup"></i>
            </div>
            <div class="service-title">Update Health status</div>
            <div class="service-desc">
              User can update their health status and can get the food Recommendations
            </div>
          </div>
          &nbsp; &nbsp; &nbsp; &nbsp;   
          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-database"></i>
            </div>
            <div class="service-title">Calorie report reports</div>
            <div class="service-desc">
              User can get the calorie report of their day 
            </div>
          </div>
          &nbsp; &nbsp; &nbsp; &nbsp;   
          <div class="service-box">
            <div class="service-icon">
              <i class="fab fa-android"></i>
            </div>
          <div class="service-title">Compare the calories</div>
            <div class="service-desc">
              User can able to compare their calorie report
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>